::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    border-radius: 3px;
}

@keyframes swipeLeft {
    0% {width: 0;}
    100% {width: 100%;}
}

body {
    font-size: 1rem;
}

.intro {
    overflow: hidden;
    /* overflow-x: hidden; */
    height: 100vh;
    width: 100vw;
    background-color: #f9fcfbc9;
    /* background-image: linear-gradient(45deg, #2980b9, #6dd5fa, #ffffff); */
    background-image: linear-gradient(45deg, #005aa7, #fffde4);
    color: rgba(0, 0, 0, 0.9);
    position: relative;
    padding-bottom: 5vh;
}

.intro .text {
    min-height: 100%;
    background: linear-gradient(to right, #373b44, #4286f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
    margin: 0 10%;
}

.text .title-wrapper {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to right, #373b44, #4286f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.effect {
    width: 100vw;
    min-height: 100%;
    background-color: #f9fcfbc9;
    position: absolute;
    z-index: 0;
    /* filter: blur(8px); */
}

.title-wrapper {
    /* margin: 10% 0 0 10%; */
    font-family: 'Montserrat', sans-serif;
    /* max-width: 1500px; */
}

.title-wrapper .main-title {
    font-size: 5em;
    font-weight: 800;
    width: 60%;
    letter-spacing: .2em;
    max-width: 1300px;
}

.title-wrapper .sub-main-title {
    padding: 2% 0;
    font-size: 2em;
    width: 40%;
}

.title-wrapper .author {
    font-size: 1.5em;
}

.quotes-wrapper {
    /* margin: 20% 0 0 20%; */
    font-family: 'Lora', serif;
    right: 0;
    bottom: 0;
    /* position: absolute; */
    text-align: end;
    z-index: 1;
}

/* .quotes-wrapper .quotes {
    font-size: 3em;
    max-width: 60%;
    float: right;
} */
    
.navbar-container {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #373b44, #4286f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    /* padding: 15px; */
    font-family: 'Montserrat', serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    max-height: 46px;
}

.navbar img {
    display: inline-block;
    padding-right: 5px;
}

.navbar .title {
    display: inline-block;
    letter-spacing: 3px;
    padding-left: 15px;
    margin: auto 0;
}

.title img {
    height: 30px;
    width: auto;
    float: left;
    
}

.navbar .btn-container {
    display: inline-block;
    /* padding-left: 30%; */
    /* overflow: auto; */
}

.navbar .btn {
    display: inline-block;
    /* float: right; */
    padding: 0px 10px;
    border-radius: 2px;
    padding: 15px;
    min-width: 100px;
    text-align: center;
}

.navbar .btn:hover {
    background-color: rgba(0,0,0,0.05);
}

.navbar .title p {
    display: inline-block;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .paragraph {
    margin: 5vh 20%;
    max-width: 800px;
    text-align: justify;
    line-height: 1.4;
    font-family: 'Quicksand' ,sans-serif;
    border-bottom: 1px solid gainsboro;
}

.paragraph .author-ri {
    font-family: 'Lora', serif;
    font-size: 2em;
    text-align: end;
    padding-bottom: 10px;
}

.paragraph .author-le {
    font-family: 'Lora', serif;
    text-align: start;
    font-size: 2em;
    padding-bottom: 10px;
}

.paragraph .img-le {
    width: 40%;
    float: left;
    padding: 0 10px 0 0;
}

.paragraph .img-ri {
    width: 40%;
    float: right;
    padding: 0 0 0 10px;
}

.main-para {
    padding-bottom: 5vh;
}

@media only screen and (max-width: 1200px) {
    .navbar .btn-container {
        padding-left: 0;
    }
}

@media only screen and (max-width: 850px) {
    .navbar .title p {
        /* display: none; */
    }
    .navbar .btn {
        display: none;
    }
    #toDarkMode {
        display: block;
    }
    .main .paragraph {
        margin: 5vh 10%;
    }
}

@media only screen and (max-width: 600px) {
    .intro {
        font-size: .7rem;
    }
    .title-wrapper .sub-main-title {
        width: 60%;
    }
    .navbar .btn-container {
        flex-wrap: wrap;
    }
}